<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="mk1">
  <xacro:arg name="tf_prefix" default="" />
  <xacro:include filename="$(find annin_ar4_description)/urdf/ar_macro.xacro"/>
  <xacro:include filename="$(find annin_ar4_description)/urdf/ar_gazebo.urdf.xacro"/>


  <xacro:ar_robot
    tf_prefix="$(arg tf_prefix)"
    parent="world"
    robot_parameters_file="$(find annin_ar4_description)/config/mk1.yaml"
  >
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:ar_robot>

</robot>
